/* 
    Name: Liam Lee
    Course: Web Development 
    Teacher: Mr. Hardman
    School: Pembinatrails Early College
    Date Last Modified: 2021-05-24
*/

/* 
    basically replaced the original "style.css" to SASS
    This "style.scss" is used by every webpage of this website. Like I wrote above, just like the original "style.css"
*/

*
{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    I wanted to try using "@import" commands, but didn't exactly know where to use them. 
    I simply made two new SASS files, pasting the code replacing their spots with "@import" 
*/
@import "parts/header";

@import "parts/footer";

/*
    Didn't think moveing the codes below was necessary, since they are essential elements for the website to work.
*/

body
{
    background-image: url(back.jpg); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}

main
{
    color: white;
    text-align: center
}

img
{
    width: 33%;
    height: auto;
}

.BackgroundForText
{
    text-align: center; 
    margin: auto; 
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: rgb(25, 41, 75); 
    width: 70%;
}